/* {
    outline: 1px solid red;
    outline-offset: -1px;
}
*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------------------ */
.section {
  margin: 0 auto;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------ */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  /* gap: 76px; */
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-ralewey {
  color: #2e2f42;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-right: 76px; */
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0 24px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.active {
  color: #404bbf;
}

.header-menu-link.active::after,
.header-menu-link:hover::after,
.header-menu-link:focus::after {
  content: '';
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
  position: absolute;
  bottom: -1px;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-item {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-item:hover,
.header-address-item:focus {
  color: #404bbf;
}

/* --------------------------------- */
/* /hero */
.hero {
  padding: 188px 0;
  background-color: #2e2f42b2;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-title {
  max-width: 496px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* --------------------------------- */
.form-button {
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

.target-list {
  display: flex;
  gap: 24px;
}

.target {
  padding: 120px 0;
}

.target-item {
  width: calc((100% - 72px) / 4);
}

.target-icon-box {
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  margin-bottom: 8px;
  height: 112px;
}

.target-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.target-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* =-----------------------------= */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto 72px;
}

.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
  /* margin-bottom: 32px; */
}

.team-container {
  /* margin-bottom: 32px; */
  text-align: center;
  padding: 32px 0;
  border: 1px solid #e7e9fc;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
}

.portfolio {
  background: #fff;
  padding: 120px 0;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .content-box {
  transform: translateY(0%);
}

.portfolio-content-box {
  position: relative;
  overflow: hidden;
}

.content-box {
  padding: 40px 32px;
  transform: translateY(100%);
  position: absolute;
  top: 0;
  background: var(--IRIS, #4d5ae5);
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-img {
  width: 360px;
}

.portfolio-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align-last: left;
}

.footer {
  background: #2e2f42;
  padding: 100px 0 100px;
}

.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}

.footer-logo-ralewey {
  color: #f4f4fd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social-container {
  margin-right: 80px;
}

.social-icons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-footer {
  gap: 16px;
}

.social-icon-link {
  width: 40px;
  height: 40px;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #404bbf;
}

.social-svg {
  fill: #f4f4fd;
}

.social-icon-footer {
  width: 40px;
  height: 40px;
  background-color: var(--IRIS, #4d5ae5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover,
.social-icon-footer:focus {
  background-color: #31d0aa;
}

.footer-social-title {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.container-logo {
  margin-right: 120px;
}

.footer-form {
  display: flex;
}

.form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  margin-right: 24px;
  padding: 0 24px;
}

.footer-form-btn {
  border: none;
  cursor: pointer;
  display: flex;
  padding: 8px 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.form-btn-icon {
}
